/* Text */
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 800;
}

h2{
  font-family: 'Dancing Script', cursive;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: 800;
  
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: grey;
}
h4{
  font-family: 'Roboto', sans-serif;
    font-size:12px;
    color: grey;
}
h5{
  
}


/* Nav Bar */
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  display: flex;
  width: 900px;
  height: fit-content;
  justify-content: space-between;
}

.logo{
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 0;
  align-items: center;
  padding: 5px;
}
.logoText{
  padding: 5px;
}

.navTags{
  display: flex;
  width: fit-content;
  align-items: center;
}

.otherTags{
  margin-left: 10px;
}

.crosshatch{
  width: 900px;
  height: 15px;
  margin-top: 5px;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5),
    transparent 1px,
    transparent 3px
  );
}

/* Main body */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroHat{
width: 900px;
display: flex;
height: 100px;
justify-content: space-between;
}

.heroText{
  margin: 0;
  width: auto;
  padding: 5px;
}

.heroHatPrint{
display: flex;
align-items: center ;
margin: 10px;
}

.heroBody{
  display: flex;
align-content: center;
flex-direction: column;
align-items: center;

}


.heroImage{
  display: flex;
  max-width: 100%;
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.recipe{
  display: flex;
  align-content: center;
  width: 900px;
  margin-top: 1rem;
  flex-direction: column;

}

.recipe p{
  text-indent: 2rem;
  font-size: 20px;
  padding: 5px;
  font-family:'Times New Roman', Times, serif;
}

/* Recipe box */
.recipeCard{
display: flex;
width: 900px;
margin-top: 1rem;
margin-bottom: 1rem;
background-image: url(img/list-bg.png);
background-color: brown;
justify-content: space-evenly;
align-items: center;
padding: 10px;
height: 250px;
}

.recipeCard li{
  font-family: 'Comic Neue', cursive;
  font-weight: 500;
  font-size: 20px;
  padding-top: 1rem;
}


/* Afterword */
.afterWord{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 900px;
  justify-content: space-between;
}

.afterText h5{
  font-weight: 600;
  font-size: 23px;
  padding-left: 15px;
  color: rgb(100, 100, 100);
}

.afterText p {
  text-indent: 0;
  font-size: 20px;
  padding: 15px;
  color: rgb(100, 100, 100);
}


button{
  background-color: chocolate;
  color: white;
  width: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding: 1rem;
  border-style: none;
}


/* Footer */

footer{
  display: flex;
  align-items: center;
  height: 200px;
}

.footerInfo{
display: flex;
flex-direction: column;
align-items: center;
font-weight: 530;
color: rgb(100,100,100);
}
.footerInfo p{
  text-align: center;
}